<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Covid-19 Data API</title>
</head>

<body>
    <h1>API covid stats</h1>

    <form th:action="@{/covid_stats}" th:object="${covidStatsForm}" method="get">
        <label for="chk-world">World</label>
        <input type="checkbox" id="chk-world" name="world" th:field="*{world}" />

        <label for="select-country">Country</label>
        <select id="select-country" name="country">
            <option th:each="country : ${countryList}" th:value="${country.iso2}" th:text="${country.name}" th:field="*{country}"></option>
        </select>

        <label for="date-before">Before</label>
        <input type="date" id="date-before" name="before" th:field="*{dateBefore}" />

        <label for="date-after">After</label>
        <input type="date" id="date-after" name="after" th:field="*{dateAfter}" />

        <label for="date-at">At</label>
        <input type="date" id="date-at" name="at" th:field="*{dateAt}" />

        <button id="covid-stats-submit" type="submit">Submit</button>
    </form>

    <hr>

    <h1>API cache stats</h1>

    <form th:action="@{cache_stats}" method="get">
        <button id="cache-stats-submit" type="submit">Submit</button>
    </form>

    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script>
        $('#chk-world').change(function() {
            if ($(this).is(':checked')) {
                $('#select-country').prop("disabled", true);
            } else {
                $('#select-country').prop("disabled", false);
            }
        })
    </script>
</body>

</html>